body {
    margin: 0;
    background: #080b14;
    color: white;
    font-family: 'Syne Mono';
}

.container {
    min-height: 100vh;
  /* max-width: 720px; */
    margin: 0 auto;
    padding: 50px 24px;
    text-align: center;
}


h1 {
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 204px;
    margin-bottom: 56px;
    margin-top: 0px;
}

h2 {
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 50px;
}

p {
    margin: 18px 0;
    color: #d8e6ff;
}

.intro {
    margin: 80px auto;
}

.main-button {
    width: 280px;
    padding: 18px 24px;

    margin: 40px auto;
    background: transparent;
    color: #0c22ff;
    border: 4px solid #0c22ff;
    /* border-radius: 4px; */
    cursor: pointer;

    font-family: "Stack Sans Notch", sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.main-button:hover {
    color: white;
    border-color: white;
}

.hidden {
    display: none;
}

#result {
    margin: 20px 0;
    color: #0c22ff;
    font-size: 20px;
}

.population {
    margin-top: 120px;
}

#count {
    font-family: "Stack Sans Notch", sans-serif;
    font-size: 50px;
    color: #0c22ff;
}

.recent-section {
    margin-top: 80px;
}

#citizenList {
    margin-top: 24px;
    line-height: 1.8;
    color: #c8d8f5;
}